html, body {
  font-family: "Helvetica Nueue", Helvetica, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

#app {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: #333;
  color: #eee;
}

.uom-control {
  overflow: hidden;
  font-variant: small-caps;
}

.radio-option {
  float: left;
}

.temp-control {
  margin: 16px 0;
  overflow: hidden;
}

.temp-control label,
.temp-control input {
  color: #333;
  background: #eee;
  line-height: 2;
  font-size: 110%;
  height: 30px;
  border: none;
  display: block;
  margin: 0;
  float: left;
}

.temp-control label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 4px;
  border-right: 1px dashed #333;
}

.temp-control input {
  padding: 0 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.converted-output > h3 {
  display: inline-block;
  margin-right: 24px;
}

#temp-out, #unit-out {
  font-weight: bold;
}

#temp-out {
  font-size: 150%;
  text-decoration: underline;
}

#unit-out {
  font-size: 80%;
  vertical-align: text-top;
}

#unit-out::before {
  content: '°';
}
