/* some style */

.user-status {
    background-color: #446f8c;
}

.online-status {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.online-status.online {
    background-color: #76cc76;
}

.online-status.offline {
    background-color: grey;
}